.logo{
    font-size: 70px;
    height: 100px;
    width: 100px;
    border: 1px solid $c1;
    text-align: center;
    border-radius: 50px;
    display: flex;
    @include flex-align;
    color: $c1;


}
.logo-p{
    color: $c2;
    letter-spacing: 5px;
    font-family: f-jos;
    margin-left: 20px;
    

}
.reserve-header{
    font-size: 100px;
    font-family: $f-smo;
    letter-spacing: 5px;
    font-weight: 300;
    color: $c1;
}
.reserve-heading{
    font-size: 40px;
    font-family: $f-jos;
    font-weight: 50;
    color: $c1;
}
.reserve-btn{
    margin-top: 20px;
    width: 130px;
    height: 40px;
    background-color: transparent;
    color: $c2;
    border: 1px solid #d3ab55;
    border-radius: 5px;
    font-size: 24px;
    font-family: $f-jos;
    cursor: pointer;
    transition: all 0.8s;
    &:hover{
        background-color: $c2;
        color: $c1;
        border: none;
    }

}